<div class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
       aria-expanded="false">
        Categories
    </a>

    <ul class="dropdown-menu text-center pt-0 pb-0" aria-labelledby="dropdownMenuLink">
        {% for category in categories %}
            <li>
                <a class="dropdown-item" href="{% url 'posts-by-tag' category.name %}">
                    {{ category.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>